/* custom css file made by JeanDoe */

:root{
	--main-clr: #8c8;
	--white: #fff;
	--black: #1a1b1c;
	--light-clr: #7a7b7c;
	--light-bg: #e1f1d1;
	--red: #ff4754;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}

html{
	font-size: 120%;
}
body{
	background: var(--light-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Ubuntu Mono', sans-serif;
}

button{
	font-size: 1rem;
	color: var(--black);
	background: var(--white);
	padding: 1rem 1.75rem;
	border-radius: .25rem;
	transition: all .2s;
}

button:hover{
	cursor: pointer;
	opacity: .8;
}

#notification{
	position: fixed;
	bottom: -100%;
	color: var(--black);
	padding: 1.2rem 2.4rem;
	border-radius: .25rem;
	background: var(--white);
	box-shadow: 3px 6px 12px rgba(0,0,0, .4);
	transition: all .4s;
}

#notification.show{
	bottom: 4%;
}



